<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>13-14</title>
   <script  src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
   <script src='tmpl.js'></script>
   <script src='script.js'></script>
   <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="modal">
      <div class="modal_content">
         <div class="close">CLOSE</div>
         <span>правильные ответы:</span>
         <div class="result">
         </div>
      </div>
   </div>

   <script type="text/html" id='test'>

      <div class="content">
         <h2>Test</h2>
         <% for (var i = 0; i < data.length; i++) { %>
            <div id="<%= i %>" class="block">
               <h3><%= data[i].title %></h3>
               <p>
               <% for (var j = 0; j < data[i].answer.length; j++) { %>
                  <label><input type="checkbox" class="check_item" id="<%= j %>"><%= data[i].answer[j] %></label>
               <% }; %>
            </p>
            </div>
         <% }; %>
         <button id="button">Проверить результаты</button>

      </div>
   </script>
</body>
</html>
