body{
  background-color: #f1f1f1;
}

.head__back{
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.container{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}
.common__text{
  font-size: 13px;
  color: #bfc0c3;
}
.button{
  width: 79px;
  height: 36px;
  background-color: #53545e;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
    /*-----header-----*/

header{
  background-color: #53545e;
  height: 100px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.head__in{
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}
.head__img{
  margin-right: 15px;
}
.head__word{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.grey{
  color: #a6a7b0;
}
.head__article{
  display: inline-block;
  color: #f1f1f1;
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin-top: 18px;
}
.head_word-contain{
  display: inline-block;
}
            /*-----------main---------------*/
.main__inner{
  padding: 30px;
  background: #fff;
}
.main__title{
  color: #53545e;
  font-size: 18px;
  margin: 15px 0 15px 0;
}
.main__img{
  width: 100%;
}
.string{
  margin: 30px 0 30px 0;
  border: 1px solid #eaeaea;
}
.small__inner{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
}
.small{
  display: inline-block;
  width: 47%;
}
.small__pic{
  width: 100%;
}
.change-foto{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
}
.change__block{
  background-color: #dedede;
  color: #b4b4b4;
  font-weight: bold;
  font-size: 18px;
  width: 160px;
  height: 160px;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.blog__title{
  font-size: 18px;
  color: #5e5e63;
  margin-bottom: 15px;
}
        /*-----middle---------*/
.middle{
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding-bottom: 100px;
}
.middle__share{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0 30px 0 30px;
  height: 75px;
}
.middle__phrase{
  color: #53545e;
  font-size: 18px;
  font-weight: bold;
}
.middle__sprites{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 63%;
}
.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
  display: block;
}
.img1{
  background: url(../img/sprites/result.png) no-repeat 0 0;
  width: 34px;
  height: 34px;
}
.img2{
  background: url(../img/sprites/result.png) no-repeat 0 -44px;
  width: 34px;
  height: 34px;
}
.img3{
  background: url(../img/sprites/result.png) no-repeat 0 -88px;
  width: 34px;
  height: 34px;
}
.img4{
  background: url(../img/sprites/result.png) no-repeat 0 -132px;
  width: 34px;
  height: 34px;
}
.img5{
  background: url(../img/sprites/result.png) no-repeat 0 -176px;
  width: 34px;
  height: 34px;
}
.img6{
  background: url(../img/sprites/result.png) no-repeat 0 -220px;
  width: 34px;
  height: 34px;
}
.img7{
  background: url(../img/sprites/result.png) no-repeat 0 -264px;
  width: 34px;
  height: 34px;
}
.img8{
  background: url(../img/sprites/result.png) no-repeat 0 -308px;
  width: 34px;
  height: 34px;
}
              /*-------footer------------*/
footer{
  background-color: #53545e;
  padding: 0 30px 0 30px;
}
.foot__content{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  padding: 28px 0 28px 0;
}
.foot__block{
  display: inline-block;
  width: 65%;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
.foot__item{
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  background: url(../img/pointer.png) no-repeat 0px 5px;
  padding-left: 20px;
}
.middle__string{
  border: 1px solid #a6a7b0;
  margin: 0 0 0 0;
}
.end{
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.end__left{
  display: inline-block;
  font-size: 12px;
  color: #a6a7b0;
}
.end__link{
  color: #fff;
}
.end__right{
  display: inline-block;
}
.end__right>a{
  color: #a6a7b0;
  font-size: 12px;
  padding-left: 10px;
}
.end__right-link{
  padding-right: 10px;
  border-right: 1px solid;
}
