*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Dosis, sans-serif;
}
.rounded{
   width: 590px;
   height: 450px;
}
.step{
   width: 200px;
   height: 210px;
   border: 1px solid green;
   margin: 20px;
}
.down{
   border: 1px solid black;
   width: 100%;
}
.form{
   width: 340px;
   margin-left: 8%;
}
.form1{
   margin-left: 4%;
}
.upload__foto{
   border-top: 1px  solid #333;
   border-bottom: 1px  solid #333;
}
/*-----------------new page------------------*/
.new-page{
   border: 10px solid pink;
   margin-top: 100px;
   margin-bottom: 100px;
}
.profile_nav>li{
   width: 265px;
   border: 1px solid #333;
}
.profile_main{
   width: 100%;
   border: 1px solid black;
}
.profile_string{
   border: 2px solid black;
}
/*----------------------------------------------------------------*/
@media(min-width: 1600px)  {
   .container{
      width: 1580px;
   }
}
