body{
  display: flex;
  justify-content: center;
}
.container{
  width: 990px;
}
.top{
  border-bottom: 4px solid #7abd30;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 15px;
}
.list__item{
  display: inline-block;
}
.list__block{
  padding-left:0;
}
.list__link{
  color: #222222;
  font-weight: bold;
  font-size: 13px;
}
.list--disable{
  color: rgb(158, 157, 157);
  font-weight: bold;
}
.main{
  display: flex;
  justify-content: space-between;
  margin: 0 15px 0 15px;
}
                /*----------right side-----------*/
.right__top{
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #585858;
  display: inline-block;
}
.right__text{
  display: inline-block;
}
.right__inner{
  display: flex;
}
.right__text{
  margin-left: 17px;
  width: 100%;
}
.right__text>span{
  color: #7abd30;
  font-size: 18px;
}
.right__text>p{
  margin-top: 30px;
  font-size: 14px;
  color: #585858;
}
.right__side{
  width: 542px;
}
img{
  border: 2px solid #d1d1d0;
}
.text__photo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.text__photo>p{
  font-size: 15px;
  width: 400px;
  text-align: center;
  word-spacing: 4px;
}
.slim{
  display: inline-block;
  color: #585858;
  font-size: 12px;
  margin: 35px 0 35px 0;
}
.bottom>h3{
  font-size: 24px;
  color: #585858;
}
.bottom>p{
  color: #585858;
  font-size: 14px;
  margin-top: 10px;
}
                      /*-------------share with friends------------*/
.share{
  margin-top: 20px;
}
.share__fb{
  width: 75px;
  height: 20px;
  background: linear-gradient(to right, rgba(61,86,163,1) 0%, rgba(74,104,184,1) 100%);
  border-radius: 2px;
  margin-bottom: 10px;
  text-align: right;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.share__fb>a{
  color: #fff;
  font-size: 11px;
  text-align: right;
}
.fb__tail{
  text-align: center;
  display: inline-block;
  height: 20px;
  width: 22px;
  font-size: 12px;
  border: 1px solid #878d9a;
  margin-left: 10px;
  padding-top: 2px;
  position: relative;
}
.fb__tail:before {
  content: '';
  position: absolute;
  left: -9px;
  bottom: 5px;
  border: 4px solid transparent;
  border-right: 5px solid #878d9a;
 }
 .fb__tail:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -8px;
  bottom: 5px;
  border: 4px solid transparent;
  border-right: 5px solid white;
}
.share__vk{
  width: 100px;
  height: 20px;
  background: linear-gradient(to right, rgba(95,131,170,1) 0%, rgba(95,131,170,1) 100%);
  border-radius: 2px;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.share__vk>a{
  color: #fff;
  font-size: 10px;
}
.share__goo{
  width: 32px;
  height: 20px;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2px;
}
.share__goo>a{
  font-family: 'Prociono', serif;
  font-size: 18px;
  color: red;
}
.share__goo>a>span{
  font-size: 8px;
}
.goo__tail{
  text-align: center;
  display: inline-block;
  height: 20px;
  width: 20px;
  font-size: 12px;
  border: 1px solid #c5c5c5;
  margin-left: 10px;
  padding-top: 2px;
  position: relative;
}
.goo__tail:before {
  content: '';
  position: absolute;
  left: -9px;
  bottom: 5px;
  border: 4px solid transparent;
  border-right: 5px solid #c5c5c5;
 }
 .goo__tail:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -8px;
  bottom: 5px;
  border: 4px solid transparent;
  border-right: 5px solid white;
}
.share__tweet{
  width: 60px;
  height: 20px;
  background: linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(220,220,219,1) 100%);
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  text-align: right;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.share__tweet>a{
  color: black;
  font-size: 13px
}
.tweet__tail{
  display: inline-block;
  text-align: center;
  height: 20px;
  width: 15px;
  font-size: 12px;
  border: 1px solid #c5c5c5;
  margin-left: 10px;
  padding-top: 2px;
  position: relative;
}
.tweet__tail:before {
  content: '';
  position: absolute;
  left: -9px;
  bottom: 5px;
  border: 4px solid transparent;
  border-right: 5px solid #c5c5c5;
 }
 .tweet__tail:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -8px;
  bottom: 5px;
  border: 4px solid transparent;
  border-right: 5px solid white;
}
.share__img{
  border: none;
  height: 12px;
  width: 12px;
}
.share__but{
  display: flex;
}
